# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Visual Studio Files
*.pdb
*.cache
*.FileListAbsolute.txt
*.CopyComplete
*.suo
db.lock
storage.ide
*.ide-shm
*.ide-wal

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


